<h2>Welcome.</h2>


<br />

<p>A place to share your thoughts and whatever</p>

<% if !user_signed_in? %>
	<p>
	not logged in. Perhaps you should 
	<%= link_to('Login', new_user_session_path)  %> 
	or
	<%= link_to('Register', new_user_registration_path)  %>
	</p>
<% else %>
	<p>
	<%= current_user.email + " is logged in!" %>
	</p>
	<p>
	<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
	</p>   
<% end %>